
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

#bgboard {
  width: 500px;
  height: 400px;
}

#positionId {
  width: 300px;
}

#mode {
  width: 200px;
}

.inputelement {
  margin-left: 5px;
  margin-top: 5px;
}

