
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

#bgboard {
  width: 500px;
  height: 400px;
}

#positionId {
  width: 300px;
  height: 20px;
}

#direction {
  width: 20px;
  height: 20px;
}
